<div class="w-[28vw] py-4 px-2 h-[90vh]">
  <h2 class="text-xl font-semibold italic">People who liked this post:</h2>
  <hr class="my-2">
  <ul class="overflow-y-auto px-2 flex flex-col gap-1 w-full h-full" (scroll)="onScroll($event)">
    <li class="select-none w-full flex" *ngFor="let username of likers();"><a
        class="w-full h-full text-lg truncate bg-gradient-to-r from-black to-transparent px-3 py-0.5 rounded-2xl hover:from-teal-800"
        href="/profile/{{username}}">
        {{username}}
      </a></li>
    <app-loader-spinner *ngIf="isLoading()" class="h-full content-center place-items-center bg-black/35 rounded-2xl"
      loaderSize="w-14 h-14" />
    <span class="w-full h-full text-center text-purple-400 text-shadow-lg/20 text-shadow-white content-center"
      *ngIf="likers().length === 0 && !isLoading();">
      Be the first to like this post! 😁
    </span>
  </ul>
</div>