<aside
    class="w-fit flex-1 py-2 text-center float-right border-b-2 border-l-2 from-slate-950/80 to-violet-950/80 border-violet-950">
    <h4 class="text-xl font-semibold">AMISTADES</h4>
    <hr>
    <ul class="px-3">
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
        <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    </ul>
</aside>