<aside
    class="sticky h-full py-2.5 text-center border border-t-0 border-violet-500 bg-linear-to-b from-indigo-950 to-violet-950/80">
    <ul>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
        <li class="w-full"><button class="w-full px-2 py-1 mb-2 flex gap-2"><img src="favicon.ico" alt="user_icon"
                    width="20px">Amigo 1</button>
        </li>
    </ul>
</aside>