<div class="h-full overflow-y-auto overflow-x-hidden relative" (scroll)="onScroll($event)">
  <span class="w-full h-full text-center text-purple-400 text-shadow-lg/20 text-shadow-white content-center"
    *ngIf="friends().length === 0 && !isLoading(); else friendsListContainer">
    Here you should have some friends... If you have
  </span>
  <ng-template #friendsListContainer>
    <div *ngFor="let f of friends(); trackBy: trackByUsername" @fadeInSlideRight>
      <app-friend-list-object class="w-full h-fit" [friend]="f" />
    </div>
    <app-loader-spinner *ngIf="isLoading()" class="h-20 w-full content-center place-items-center bg-violet-950 py-2"
      loaderSize="w-7 h-7" />
  </ng-template>
</div>