<div (click)="goToUserProfile()"
  [ngClass]="['w-full bg-gradient-to-t from-slate-950 to-slate-900 rounded-lg py-4 px-2 flex items-center shadow-md hover:to-purple-950 transition duration-300 hover:cursor-pointer z-10 group', wrapperClass || '']">
  <div [ngClass]="['w-2/6 h-full aspect-square me-2',wrapperImageClass || '']">
    <img draggable="false" [src]="`img/profiles/${userProfilePicture}.jpg`"
      class="w-full h-full aspect-square rounded-full object-cover border-2 border-purple-900 group-hover:border-purple-500 transition-colors duration-500" />
  </div>
  <div class="grid grid-rows-2 gap-1">
    <span
      class="text-purple-400 group-hover:text-white xl:text-base 2xl:text-2xl duration-300 transition-colors font-semibold text-sm truncate max-w-[150px] block">{{username}}</span>

    <!-- Add Friend -->
    <button *ngIf="friendshipStatus === FriendshipStatus.NONE"
      class="hover:cursor-pointer bg-purple-800 text-purple-300 text-xs px-3 py-1 rounded w-max min-w-[120px] text-center hover:bg-purple-600 hover:text-white transition-all duration-300"
      (click)="addFriend($event)">
      Add friend
    </button>

    <!-- Pending / Cancel Request -->
    <button *ngIf="friendshipStatus === FriendshipStatus.PENDING_SENT" (mouseenter)="hovering = true"
      (mouseleave)="hovering = false" (click)="cancelFriendRequest($event)"
      class="bg-purple-950 text-purple-500 text-xs px-3 py-1 rounded w-max min-w-[120px] text-center hover:cursor-pointer hover:bg-purple-900 hover:text-white transition-all duration-300 relative overflow-hidden">

      <span class="absolute inset-0 flex items-center justify-center transition-opacity duration-300"
        [ngClass]="{ 'opacity-0': hovering, 'opacity-100': !hovering }">
        Pending
      </span>
      <span class="opacity-0" [ngClass]="{ 'opacity-100': hovering, 'opacity-0': !hovering }">
        Cancel request
      </span>
    </button>

    <div class="relative inline-block z-50">
      <button *ngIf="friendshipStatus === FriendshipStatus.PENDING_RECEIVED"
        (click)="switchShowingFriendRequestOptions($event)" [ngClass]="{'rounded-b-none': showingRequestOptions}"
        class="bg-purple-800 text-purple-300 text-xs px-3 py-1 rounded w-max hover:bg-purple-600 hover:text-white hover:cursor-pointer transition-all duration-300">
        {{ showingRequestOptions ? 'Ocultar opciones' : 'Mostrar opciones' }}
      </button>

      <!-- Menú desplegable con animación -->
      <div [@slideDown]="showingRequestOptions ? 'visible' : 'hidden'"
        class="absolute left-0 w-full rounded-b-lg shadow-lg z-50 flex flex-col overflow-hidden transition-all duration-300">
        <button
          class="hover:cursor-pointer text-xs px-3 py-1 bg-gray-600 text-gray-400 hover:text-white hover:bg-emerald-700 transition duration-300"
          (click)="acceptFriendRequest($event)">
          Accept
        </button>

        <button
          class="hover:cursor-pointer text-xs px-3 py-1 bg-gray-600 text-gray-400 hover:text-white hover:bg-rose-700 transition duration-300"
          (click)="rejectFriendRequest($event)">
          Reject
        </button>
      </div>
    </div>
  </div>
</div>