<form [formGroup]="signUpForm" class="relative w-full h-full overflow-hidden" (ngSubmit)="submit()">
    <div [ngClass]="next ? 'left-0 -translate-x-full opacity-0' : 'opacity-100 left-1/2 -translate-x-1/2'"
        class="absolute top-1/2 transform -translate-y-1/2 w-11/12 md:w-7/12 2xl:w-8/12 bg-gray-800 border border-gray-700 rounded-lg shadow-sm p-2 md:p-6 transition-all duration-500">
        <div class="w-full rounded-lg shadow-sm border md:mt-0 xl:p-0 bg-gray-800 border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-center text-2xl 2xl:text-4xl font-medium text-white mb-6">
                    ¡Regístrate!
                </h1>
                <!-- Sección de Email y Password (primera página) -->
                <div class="space-y-4 md:space-y-6">
                    <div>
                        <label for="email" class="block mb-2 form-label">Email</label>
                        <input type="email" id="email" formControlName="email" placeholder="usuario@correo.com"
                            class="block w-full form-input" />
                        <small *ngIf="isRequired('email')" class="text-validator">Este campo es
                            requerido</small>
                        <small *ngIf="isEmailRequired()" class="text-validator">El correo debe ser
                            válido</small>
                    </div>

                    <div>
                        <label for="password" class="block mb-2 form-label">Password</label>
                        <input type="password" id="password" formControlName="password" placeholder="••••••••"
                            class="block w-full form-input" />
                        <small *ngIf="isRequired('password')" class="text-validator">Este campo es
                            requerido</small>
                        <small *ngIf="passwordLong()" class="text-validator">Mínimo 6
                            caracteres</small>
                    </div>

                    <button [disabled]="!canGoNext()" type="button" (click)="goToNextPage()"
                        class="w-full py-2 text-white bg-violet-800 hover:bg-violet-900 disabled:opacity-35 disabled:bg-violet-950 disabled:hover:cursor-not-allowed rounded-lg text-sm font-medium transition-all hover:cursor-pointer">
                        Siguiente
                    </button>
                    <p class="text-sm font-light text-gray-400 ">
                        Ya tienes cuenta? <a (click)="redirectToLogin()"
                            class="font-medium hover:cursor-pointer hover:text-violet-500 hover:underline transition-colors">Inicia
                            sesión ahora!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="!next ? 'right-0 translate-x-full' : 'opacity-100 left-1/2 -translate-x-1/2'"
        class="absolute opacity-0 top-1/2 transform -translate-y-1/2 w-11/12 md:w-8/12 2xl:w-8/12 bg-gray-800 border border-gray-700 rounded-lg shadow-sm p-2 md:p-6 transition-all duration-500">
        <div class="w-full rounded-lg shadow-sm border md:mt-0 xl:p-0 bg-gray-800 border-gray-700">
            <div class="w-full flex flex-col gap-4 p-6">
                <div class="grid h-20 sm:h-25 md:h-30 lg:h-45 2xl:h-65 grid-cols-4 items-center place-items-center">
                    <div *ngFor="let image of profileUrls">
                        <label [for]=image>
                            <img [ngClass]="{'shadow-lg shadow-emerald-500': isSelected(image)}"
                                src="img/profiles/{{image}}.jpg" alt="{{image}}"
                                class="transition-all duration-300 rounded-full object-cover w-18 h-18 sm:w-26 sm:h-26 lg:w-36 lg:h-36 xl:w-45 xl:h-45 2xl:w-60 2xl:h-60"
                                style="object-position: 50% 0%;">
                            <input hidden (change)="onRadioChange($event)" type="radio" [id]=image [value]=image
                                name="profilePicture" formControlName="profilePicture">
                        </label>
                    </div>
                    <small *ngIf="isRequired('profilePicture')" class="text-validator">Seleccione una
                        imagen</small>
                </div>

                <div>
                    <label for="username" class="block mb-2 form-label">Username</label>
                    <input type="text" id="username" formControlName="username" placeholder="Tu usuario"
                        class="w-full form-input" />
                    <small *ngIf="isRequired('username')" class="text-validator">Este campo es
                        requerido</small>
                </div>

                <div>
                    <label for="biography" class="block mb-2 form-label">Biography</label>
                    <textarea id="biography" formControlName="biography" rows="2" placeholder="Escribe algo sobre ti"
                        class="w-full resize-none form-input"></textarea>
                </div>

                <div class="flex justify-between gap-4">
                    <button type="button" (click)="goToPreviousPage()"
                        class="w-1/2 py-2 text-white bg-gray-600 hover:bg-gray-700 rounded-lg text-sm font-medium transition-all hover:cursor-pointer">
                        Volver
                    </button>
                    <button type="submit"
                        class="w-1/2 py-2 text-white bg-violet-800 hover:bg-violet-900 rounded-lg text-sm 2xl:text-xl font-medium transition-all hover:cursor-pointer">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>