<div class="flex flex-col min-h-screen max-h-screen">
    <app-header [userLogged]="userLogged" />
    <div class="flex flex-1 overflow-hidden">
        <app-aside-menu class="w-2/12 overflow-auto" [profilePicture]="userLogged.profilePicture"
            [role]="userLogged.role" [username]="userLogged.username" [uid]="userLogged.uid" />
        <div [ngClass]="isPageWidthFull() ? '' :'p-4'" class="flex-1 overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>