<ul class="mb-5">
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
    <li><button class="flex gap-2"><img src="favicon.ico" alt="user_icon" width="20px">Amigo 1</button></li>
</ul>