<div class="h-full relative flex flex-col">
    <img src="img/{{game.name}}_wallpaper.jpg" class="object-cover object-top w-full h-full z-0 absolute"
        alt="{{game.name}}">
    <button (click)="goBack()"
        class="absolute right-3 top-3 z-50 bg-violet-800 w-7 h-7 opacity-75 rounded-lg hover:opacity-100 hover:cursor-pointer">
        <i class="fa-solid fa-xmark"></i></button>
    <div
        class="relative bg-linear-to-t from-violet-950 via-violet-900/10 to-slate-900 px-6 py-3 z-10 h-3/4 flex flex-col justify-between">
        <div>
            <p class="text-sm text-slate-400 mb-2 hidden sm:block">
                <a href="/" class=" hover:text-white transition-colors">Todos los juegos</a>
                >
                @for (cat of game.categories; track $index) {
                <a routerLink="/categories/{{cat.id}}" class="hover:text-white transition-colors">{{cat.name}}</a>
                @if ($index < game.categories.length-1) {<span> - </span>}
                    }
                    >
                    <a routerLink="/" class="hover:text-white transition-colors">{{game.developer}}</a>
                    >
                    <a href="/game/{{game.id}}" class="hover:text-white transition-colors">{{game.name}}</a>
            </p>
            <h2 class="text-xl md:text-2xl xl:text-3xl">{{game.name}}</h2>
            <p class="italic text-sm">{{game.developer}} -
                {{gameYear()}}
            </p>
        </div>
        <p class="text-sm lg:text-base">{{game.description}}
        </p>
    </div>
    <div class="flex-1 relative px-6 py-2 bg-linear-to-b from-violet-950 to-slate-900 text-slate-400 z-10">
        <p class="mb-2">Categorías:</p>
        <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-1">
            @for (cat of game.categories; track $index) {
            <app-category [category]="cat" />
            }
        </div>
        <div class="flex items-center mt-6">
            <button (click)="handleButtonCommunityClick()" [disabled]="isLoading" [ngClass]="{
                'hover:cursor-wait opacity-70': isLoading,
                'from-slate-900 to-violet-900 text-white hover:from-slate-950 hover:to-violet-950': isInCommunity && !isLoading,
                'from-slate-950 to-violet-950': isInCommunity && isLoading,
                'from-white to-gray-500 text-black hover:text-white hover:from-violet-800 hover:to-indigo-800': !isInCommunity && !isLoading,
                'from-violet-800 to-indigo-800': !isInCommunity && isLoading,
                }"
                class="w-1/4 h-full place-items-center rounded-2xl bg-linear-to-br px-6 py-2 sm:py-3 text-xs sm:text-base transition-colors duration-300 hover:cursor-pointer">
                <span *ngIf="!isLoading">
                    {{ isInCommunity ? 'Abandonar Comunidad' : 'Unirse a la Comunidad' }}
                </span>
                <svg *ngIf="isLoading" class="animate-spin h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" class="opacity-25" />
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"
                        d="M4 12a8 8 0 018-8V4a10 10 0 00-10 10h2z" />
                </svg>
            </button>
        </div>
    </div>
</div>