<div class="h-full relative flex flex-col">
    <img src="img/{{game.name}}_wallpaper.jpg" class="object-cover object-top w-full h-full z-0 absolute"
        alt="{{game.name}}">
    <button (click)="goBack()"
        class="absolute right-3 top-3 z-50 bg-violet-800 w-7 h-7 opacity-75 rounded-lg hover:opacity-100 hover:cursor-pointer">
        <i class="fa-solid fa-xmark"></i></button>
    <div
        class="relative bg-linear-to-t from-violet-950 via-violet-900/10 to-slate-900 px-6 py-3 z-10 h-3/4 flex flex-col justify-between">
        <div>
            <p class="text-sm text-slate-400 mb-2 hidden sm:block">
                <a href="/" class=" hover:text-white transition-colors">Todos los juegos</a>
                >
                @for (cat of game.categories; track $index) {
                <a routerLink="/categories/{{cat.id}}" class="hover:text-white transition-colors">{{cat.name}}</a>
                @if ($index < game.categories.length-1) {<span> - </span>}
                    }
                    >
                    <a routerLink="/" class="hover:text-white transition-colors">{{game.developer}}</a>
                    >
                    <a href="/game/{{game.id}}" class="hover:text-white transition-colors">{{game.name}}</a>
            </p>
            <h2 class="text-xl md:text-2xl xl:text-3xl">{{game.name}}</h2>
            <p class="italic text-sm">{{game.developer}} -
                {{gameYear()}}
            </p>
        </div>
        <p class="text-sm lg:text-base">{{game.description}}
        </p>
    </div>
    <div class="flex-1 relative px-6 py-2 bg-linear-to-b from-violet-950 to-slate-900 text-slate-400 z-10">
        <p class="mb-2">Categorías:</p>
        <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-1">
            @for (cat of game.categories; track $index) {
            <app-category [category]="cat" />
            }
        </div>
        <div class="flex items-center mt-6">
            <button (click)="joinCommunity()"
                class="rounded-2xl bg-radial from-white to-gray-500 hover:cursor-pointer hover:from-slate-900 hover:to-slate-800 hover:text-white transition-colors duration-300 text-black px-6 py-2 sm:py-3 text-xs sm:text-base">
                Unirse a la Comunidad
            </button>
        </div>
    </div>
</div>