<div class="h-full overflow-y-auto" (scroll)="onScroll($event)" #scrollContainer>
    <div class="w-full h-full text-center text-purple-400 text-shadow-lg/20 text-shadow-white content-center text-2xl"
        *ngIf="userPosts().length === 0 && !isLoading(); else postsContainer">
        Looks like this user has not post yet...
    </div>
    <ng-template #postsContainer>
        <div class="pe-2">
            <app-post *ngFor="let post of userPosts();" [post]="post" (postDeleted)="removePost($event)" />
        </div>
        <app-loader-spinner *ngIf="isLoading()" class="py-5 w-full flex justify-center items-center"
            loaderSize="w-13 h-13" />
    </ng-template>
</div>