<a routerLink="/game/{{game.id}}"
    class="bg-gradient-to-t from-slate-950 to-slate-900 rounded-lg grid grid-cols-[100px_1fr] items-center hover:scale-105 transition-all">
    <img src="img/{{game.name}}_mini_card.jpg" alt="{{game.name}} image" class="rounded-l-lg object-cover">
    <div class="flex flex-col justify-between w-full h-full ps-4 pe-6 py-2">
        <h5 class="text-white text-lg">{{ game.name }}</h5>
        <div class="flex gap-2 text-center items-center">
            @for (category of game.categories; track $index) {
            <p class="py-[3px] bg-slate-600 px-2 text-xs rounded-sm hover:text-sky-400">{{category.name}}</p>
            }
        </div>
        <div class="flex flex-row justify-between text-xs sm:text-sm w-full">
            <p class="text-gray-400">{{ newFecha }}</p>
            <p class="italic text-slate-400">{{game.developer}}</p>
        </div>
    </div>
</a>