<div
    class="place-self-center w-full max-w-11/12 sm:max-w-2/3 lg:max-w-2/5 bg-gray-800 border border-gray-700 rounded-lg shadow-sm p-6">
    <div class="w-full rounded-lg shadow-sm border md:mt-0 xl:p-0 bg-gray-800 border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-center text-xl font-medium md:text-2xl text-white">
                Inicia Sesión
            </h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
                    <input type="email" name="email" id="email"
                        class=" rounded-lg block w-full p-2 bg-gray-700 placeholder-gray-400 text-white"
                        placeholder="usuario@correo.com" formControlName="email">
                    <small *ngIf="isRequired('email')" class="text-rose-500 text-xs">Este campo es requerido</small>
                    <small *ngIf="isEmailRequired()" class="text-rose-500 text-xs">El correo debe ser valido</small>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••"
                        class="rounded-lg block w-full p-2 bg-gray-700 placeholder-gray-400 dark:text-white "
                        formControlName="password">
                    <small *ngIf="isRequired('password')" class="text-rose-500 text-xs">Este campo es requerido</small>
                    <small *ngIf="passwordLong()" class="text-rose-500 text-xs">Ingresa una contraseña de minimo 6
                        caracteres</small>
                </div>
                <button type="submit"
                    class="w-full text-white bg-violet-800 hover:bg-violet-900 transition-colors focus:ring-4 font-medium rounded-lg text-sm py-2 text-center">
                    Ingresar
                </button>
                <p class="text-sm font-light text-gray-400 ">
                    No tienes cuenta aún? <a (click)="redirectToRegister()"
                        class="font-medium hover:cursor-pointer hover:text-violet-500 hover:underline transition-colors">Registrate!</a>
                </p>
            </form>
        </div>
    </div>
</div>