<aside
    class="h-full flex flex-col py-4 text-center border border-t-0 border-violet-500 bg-linear-to-b from-indigo-950 to-violet-950/80">
    <app-navbar [profilePicture]="profilePicture" [role]="role" [username]="username" />
    <hr class="w-11/12 border-violet-500 place-self-center mb-4">
    <div *ngIf="!searchMode()" class="h-10.5 lg:text-lg w-full px-3 py-1 mb-2 flex gap-2 items-center">
        <i class="fas fa-user-friends"></i>
        <span class="cursor-default"> Friends List</span>
        <button (click)="onSearchMode()"
            class="p-1.5 text-violet-200 bg-violet-950 hover:bg-violet-800 hover:text-white hover:cursor-pointer rounded-full shadow-sm transition-all duration-300 flex">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <form class="h-10.5 w-full px-2 py-1 mb-2" *ngIf="searchMode()" (ngSubmit)="submit()" novalidate>
        <div class="text-sm 2xl:text-xl relative group transition-all duration-300">
            <input type="text" autocomplete="off" placeholder="Friend username..." [value]="searchTerm()"
                (input)="searchTerm.set($any($event.target).value)" name="username"
                (keydown.enter)="searchTerm().trim() && submit()"
                class="w-full py-2 pl-3 pr-12 rounded-full bg-violet-900 shadow-md focus:outline-none focus:ring-2 transition-all duration-300 placeholder-purple-300 group-hover:shadow-lg" />
            <button type="submit" [disabled]="!searchTerm().trim()"
                class="absolute right-1 top-1/2 -translate-y-1/2 p-2 text-emerald-200 bg-teal-950 not-disabled:hover:bg-teal-800 not-disabled:hover:text-white not-disabled:hover:cursor-pointer disabled:opacity-70 rounded-full shadow-sm transition-all duration-300 flex">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button type="button" (click)="leaveSearchMode()"
                class="absolute -right-1 -top-0.5 -translate-y-1/2 py-1 px-1.5 text-rose-200 bg-rose-950 hover:bg-rose-800 hover:text-white hover:cursor-pointer rounded-full shadow-sm transition-all duration-300 flex">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </form>
    <app-friends-list [searchTerm]="currentSearchTerm()" class="flex-1 overflow-auto" />
</aside>