<div class="grid grid-cols-[1fr_auto] mb-4 gap-3">
  <form class="w-full h-full" (ngSubmit)="submit()" novalidate>
    <div class="relative group transition-all duration-300">
      <input type="text" placeholder="Busque el username a buscar..." [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)" name="username"
        (keydown.enter)="searchTerm().trim() && submit()"
        class="w-full py-3 pl-5 pr-14 rounded-full bg-violet-900 shadow-md focus:outline-none focus:ring-2 transition-all duration-300 placeholder-purple-300 group-hover:shadow-lg" />
      <button type="submit" [disabled]="!searchTerm().trim()"
        class="px-3 absolute right-3 top-1/2 -translate-y-1/2 p-2 text-emerald-200 bg-teal-950 not-disabled:hover:bg-teal-800 not-disabled:hover:text-white not-disabled:hover:cursor-pointer disabled:opacity-70 rounded-full shadow-sm transition-all duration-300">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
  <button [disabled]="!searchMode()" (click)="clearSearch()"
    class="shadow-md rounded-full px-5 text-emerald-200 bg-teal-950 not-disabled:hover:bg-teal-800 not-disabled:hover:text-white not-disabled:hover:cursor-pointer disabled:opacity-70 transition-all duration-300">
    Limpiar búsqueda
  </button>
</div>

<div *ngIf="!isLoading() && usersList().length === 0" class="text-center text-purple-300 mt-6">
  No se encontró ningún usuario con ese nombre.
</div>

<div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(200px,1fr))] justify-center relative">
  <app-user-button *ngFor="let user of usersList()" class="max-w-3xs w-full" [username]="user.username"
    [userProfilePicture]="user.profilePicture" [friendshipStatus]="user.friendshipStatus" />
</div>